/* Start variable */
:root {
  --main-color: #19c8fa;
  --main-transition: 0.3s;
  --transparent-color: rgb(15 116 143 / 0.7);
  --section-padding: 100px;
}
/* End variable */
/* Start Component */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: black;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid black;
  border-radius: 50%;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  line-height: 2;
  color: #777;
  max-width: 100%;
}
/* End Component*/
/* Start global rules */
body {
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End globla rules */
/*====== First ======*/
.first {
  background-image: url(../imgs/s1.webp);
  background-repeat: no-repeat;
  height: 34vh;
  background-size: cover;
  position: relative;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.first .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.first .text {
  background: #f0f8ff29;
}
.first .text h1 {
  font-size: 30px;
  margin-bottom: 28px;
  font-weight: bold;
}
.first .text p {
  font-size: 20px;
  font-weight: 900;
}
/*==================================*/
.second {
}
.second .content {
  position: relative;
}
.second img {
  max-width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/**/
.last {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.last .face {
  background-color: #4267b2;
  padding: 14px 32px;
  white-space: nowrap;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  font-weight: 800;
}
.last .face i {
  font-size: 30px;
  margin-right: 10px;
}
